html, body, #map {
  height: 100%;
  margin: 0px;
  padding: 0px;

  font: 100%/1.4 'Helvetica Neue', sans-serif;
  background:#FFF!important;
}
a {
  color:inherit;
  text-decoration:inherit;
}


header{
  display: block;
  position:fixed;
  top:20px;
  left:10%;
  right:10%;
  padding:.5em;

  background:white;
  z-index: 10;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1{
  float:left;
  margin:0;
  font-weight: 100;
  font-size: 1.5em; 
  text-decoration:none;
}
.spots{
  text-align:center; 
  position:absolute;
  z-index:999999;
  /*cursor:pointer;*/
}
.spots .title{
  display: none;
  position:absolute;
  width:100%;
  top:205px;

  text-align:center;
  z-index:99;
}
.spots span{
  display: inline-block;
  padding:.5em;
  background:white;
}


.spots {
  .img {
    display: block;
    position:relative;
    width:100px;
    height:100px;
    background:#000;
    border-radius: 1000px;
    border:5px solid #fff;

    overflow:hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img{
    position:absolute;
    max-width:100%;
    top:0;
    left:0;

    -webkit-transition: width .1s ease;
    -o-transition: width .1s ease;
    transition: width .1s ease;
  }
}

.closeup {
  .title{
    display: block;
  }
  .img {
    width:200px;
    height:200px;
  }
}

.contact{
  float:right;
  font-size: 1.5em;
  a{
    padding:0 .25em;
  }
}


.noscript{display: none;} 
.noscript p{display: table-cell;vertical-align: middle;text-align: center;}
.no-js .noscript{position:absolute;height:100%;width:100%;display:table;}


